.Modal{
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 25%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Name{
    text-transform: capitalize;
    text-align: center;
    background-color: #ccc;
    padding: 5px;
}

.Capitalize{
    text-transform: capitalize;
}