.Modal{
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 25%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Name{
    text-transform: capitalize;
    text-align: center;
    background-color: #859aff;
    padding: 5px;
}

.Capitalize{
    text-transform: capitalize;
}

.Modal img{
    width: 50%;
}

.Stat{
    color:red;
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .Modal{
        top: 10%;
        left:15%;
        width: 70%;
    }
    .Name{
        font-size: 1.5rem;
    }
    
    .Capitalize{
        font-size: .8rem;
    }

    .Stat{
        font-size: .9rem;
    }
    
    .Modal img{
        width: 50%;
    }
}